@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
