<div
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="center center"
  class="container"
>
  <mat-card [@slideInOut]="state" class="card" id="cardform">
    <mat-card-header class="card-header">
      <mat-card-title class="title"> </mat-card-title>
      <mat-card-subtitle class="subtitle"> </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions class="action" fxLayoutAlign="center start">
    </mat-card-actions>
  </mat-card>
</div>
