<div
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="center center"
  class="container"
>
  <mat-card [@slideInOut]="state" class="card" id="cardform">
    <mat-card-header class="card-header">
      <mat-card-title class="title">
        <ul>
          <li>{{ weatherDetails.main.tempC }}</li>
          <li>{{ weatherDetails.main.temp }}</li>
          <li>{{ weatherDetails.main.pressure }}</li>
          <li>{{ weatherDetails.main.humidity }}</li>
        </ul></mat-card-title
      >
      <mat-card-subtitle class="subtitle"> </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner
        *ngIf="showLoadingSpinner == true"
        class="spinner"
      ></mat-spinner>
    </mat-card-content>
    <mat-card-actions class="action" fxLayoutAlign="center start">
    </mat-card-actions>
  </mat-card>
</div>
